<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-marcoscvz/blob/main/Actividad_Semanal_7_regresiones_y_kmeans_A01688507.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Actividad de la semana 7 - Regresiones y K means**

###**Maestría en Inteligencia Artificial Aplicada**
###**Ciencia y Analítica de Datos**
###**Tecnológico de Monterrey**
###*Dra. María de la Paz Rico*

###**Nombre del estudiante:** *Marcos Chávez Chávez*

###**Matrícula:** *A01688507*

https://github.com/PosgradoMNA/actividades-de-aprendizaje-marcoscvz/blob/main/Actividad_Semanal_7_regresiones_y_kmeans_A01688507.ipynb

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/marypazrf/bdd/main/EconomiesOfScale.csv')
df.sample(10)

     Number of Units  Manufacturing Cost
400         4.131294           43.195412
844         5.718746           33.311001
292         3.751749           46.308936
82          2.665856           48.578425
698         5.122439           30.861801
603         4.807975           40.535888
509         4.468787           40.433819
738         5.287904           33.875831
357         4.010712           36.572302
428         4.224622           44.177365